<div class="row wish-card-row">
  <h6>Wish List</h6>
  <div class="scrollable-box-y">
    <% @selections_without_days.each do |selection| %>
      <div class="d-flex align-items-center">

        <div class="col-9">
          <div class="card wish-card mb-2 shadow">
            <div class="d-flex justify-content-between align-items-center mb-1">

                <div class="fw-bold wish-card-text-title mb-0 pb-0"><%= selection.activity.name.truncate(66, separator: ' ') %></div>
                <div class="d-flex justify-content-between">
                  <div class="d-flex gap-1" data-controller="add-activity-to-day">
                    <%= link_to edit_selection_path(selection)  do %>
                      <i class="fa-regular fa-square-plus text-primary" data-action="click->add-activity-to-day#displayForm"></i>
                      <%= link_to selection_path(selection), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  do %>
                        <i class="fa-regular fa-trash-can text-danger mx-1"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>

            </div>
          </div>
        </div>
        <div class="col-3">
          <%= image_tag selection.activity.image_url, class: 'wish-card-img shadow w-100 mb-2' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
