<div class="container">
  <h1 class="my-3"><i class="fa-solid fa-map-location-dot"></i> All Itineraries</h1>

  <div class="mb-3">
    <% @itineraries.each do |itinerary| %>
      <table>
        <tr><%= link_to itinerary.title, itinerary_path(itinerary) %></tr>
      </table>
    <% end %>
  </div>
</div>
