<div class="container">
  <h1 class="my-3">All Itineraries</h1>

  <div class="mb-3">
    <% @itineraries.each do |itinerary| %>
      <table>
        <tr><%= link_to itinerary.title, itinerary_path(itinerary) %></tr>
      </table>
    <% end %>
  </div>

  <div>
    <%= link_to "New itinerary", new_itinerary_path, class:"btn btn-primary text-align-center"%>
  </div>
</div>
