<h1>All Itineraries</h1>

<div>
  <% @itineraries.each do |itinerary| %>
    <ul>
      <li><%= link_to itinerary.title, itinerary_path(itinerary) %></li>
    </ul>
  <% end %>
</div>

<div>
  <%= link_to "New itinerary", new_itinerary_path, class:"btn btn-primary text-align-center"%>
</div>
