<div class="container">
  <h1 class="my-3"><i class="fa-solid fa-map-location-dot"></i><i class="fa-solid fa-plus fa-2xs"></i> New Itinerary</h1>
  <%= render "itineraries/form", itinerary: @itinerary %>
</div>
