<div class="d-flex justify-content-center">
  <div class="col-8">
    <h1 class="my-3"><%= @itinerary.title %></h1>

    <div class="d-flex justify-content-start">
      <%= link_to "Back to Homepage", itineraries_path, class:"btn btn-primary text-align-center me-3" %>

      <%# Hide the links for unauthorized users: %>
      <% if policy(@itinerary).edit? %>
        <%= link_to "Edit this itinerary", edit_itinerary_path(@itinerary), class: "btn btn-success me-3" %>
      <% end %>

      <% if policy(@itinerary).destroy? %>
        <%= button_to "Destroy this itinerary", @itinerary, method: :delete, class: "btn btn-danger me-3" %>
      <% end %>
    </div>
  </div>

</div>
