<div class="message collaborator_message">
  <small>
    <strong><%= message.user.first_name %></strong>
    <em><%= message.created_at.strftime("%d/%m/%Y, %l:%M %p") %></em>
  </small>
  <div class="content"><p><%= message.content %></p></div>
</div>
