// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$sand: #F2E4C6ff;
$dark-green: #1C2B26ff;
$light-green: #374C41ff;
$light-blue: #7B9E8Dff;
$old-gold: #B4B343ff;
