// Define variables for your color scheme

// For example:
$red: #9d0208;
$blue: #669bbc;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #669bbc;
$gray: #0E0000;
$light-gray: #F4F4F4;

$sand: #F2E4C6ff;
$dark-green: #1C2B26ff;
$light-green: #374C41ff;
$light-blue: #7B9E8Dff;
$old-gold: #B4B343ff;

// mountain
$mountain-green-1: #28322E;
$mountain-green-2: #3B4C42;
$mountain-green-3: #739083;
$mountain-green-4: #6C867A;
$mountain-yellow-1: #DFD3BA;
// search btn mountain
$search-btn-dark-mountain: #3B4C42;
$search-btn-mountain: #6C867A;

// autumn
$autumn-1: #5e3023;
$autumn-2: #895737;
$autumn-3: #c08552;
$autumn-4: #dab49d;
$autumn-5: #f3e9dc;
// search btn autumn
$btn-dark-autumn: #5e3023;
$btn-autumn: #895737;

// sea
$sea-1: #0B1823;
$sea-2: #182F45;
$sea-3: #2A4660;
$sea-4: #456D8B;
$sea-5: #447A9E;
// search btn sea
$btn-dark-sea: #2A4660;
$btn-sea: #456D8B;
