
<div class="card">
  <div class="p-5 m-5">
    <p>Hello <%= @user.first_name %> </p>

    <p>Go to the website: <%= root_url %></p>

    <%= link_to 'Click this', root_url, class: 'btn btn-primary' %>

  </div>
</div>
