// Import page-specific CSS files here.
@import "home";

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.new_act {
  margin-left: 10px;
  width: fit-content;
}
