<div class="notification-container">
  <h1>Notifications</h1>
  <div>
    <ul id="notifications" class="unread">
      <% current_user.notifications.unread.each do |notification| %>
        <%= render "notifications/notification", notification: notification %>
        <% end %>
    </ul>
  </div>

  <div>
    <ul id="notifications" class="read">
      <% current_user.notifications.read.last(5).reverse_each do |notification| %>
        <%= render "notifications/notification", notification: notification %>
        <% end %>
    </ul>
  </div>
</div>
