<div class="footer">
  <div class="d-flex">
    <%# <h4>TrailBlazr</h4>
    <p>Contact Us</p> %>
    <%# <p class="m-2">Made by Andres, Cedric, Nadia, Paul, Sophie</p> %>
  </div>
  <% if controller_name == 'itineraries' && action_name == 'show' %>
    <div class="chatroom">
    <%= render "itineraries/chat" %>
    <% end %>
  </div>
</div>
