  <li>
    <div class="notification-card">

      <div class="d-flex justify-between m-2 notif">
        <div class="mx-3">
          <%# images %>
        </div>

        <div>
          
        </div>
      </div>


    </div>
  </li>
