<div class="d-flex justify-content-center">
  <div class="col-3">
    <h1>TrailBlazr</h1>

    <h3>My Itineraries</h3>
  </div>
  <div class="col-3">
    <h1>My Itineraries</h1>
    <%= link_to "+ Add New Itinerary", "#" %>
  </div>
  <div class="col-3">
    <h1>Chat</h1>
    <%= link_to "+ Add Buddies to your trip", "#" %>
  </div>
</div>
