<div class="d-flex justify-content-center">
  <div class="col-3">
    <h1>TrailBlazr</h1>

    <h3>My Itineraries</h3>
  </div>
  <div class="col-3">
    <h1>My Itineraries</h1>
    <%= link_to "+ Add New Itinerary", new_itinerary_path %>

    <% if @itineraries.empty? == false %>
      <% @itineraries.each do |itinerary| %>
        <div>
          <%= link_to itinerary.title, itinerary_path(itinerary) %>
        </div>
      <% end %>
    <% end %>
    
  </div>
</div>
