<h1>All Collaborations</h1>

<div>
  <% @collaborations.each do |collaboration| %>
    <ul>
      <li><%= link_to collaboration.title, itinerary_path(collaboration) %></li>
    </ul>
  <% end %>
</div>

<div>
  <%= link_to "New collaboration", new_collaboration_path, class:"btn btn-primary text-align-center"%>
</div>
