<%# no need %>

<div class="container">
  <h4 class="my-3"><i class="fa-solid fa-plus fa-2xs"></i> New Collaborations</h4>

  <% @itinerary.collaborations.each do |collaboration|%>
    <p>

      <%= collaboration.role %>
      <%= link_to collaboration_path(collaboration), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </p>
  <% end %>

</div>
