
.activities-card {
  color: black;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  height: 300px;
}

.activities-card > img {
  max-height: 200px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.activities-card h4 {
  font-size: 19px;
  // font-weight: bold;
  margin: 0;
}

.activities-card p {
  font-size: 15px;
  opacity: .7;
  margin: 0;
}


.activities-card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
