.chatroom{
  position: fixed;
  bottom: 15px;
  right: 13px;
  width: 350px;
  color: $dark-green;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 3px #1C2B264D;
  height: 53vh;

  .chat-header {
    height: 10%;
    justify-content: center;
    border-bottom: 1px solid $light-green;
    h1 {
      margin-right: 5px;
      font-size: 30px;
    }
  }

  .chat-box {
    width: 100%;
    border-top: 1px solid $light-green;
    padding-top: 5px;
  }

  .chat-messages {
    max-height: 280px;
    overflow-y: auto;
    margin-bottom: 0;
  }
}
