.footer {
  height: 70px;
  background-color: none;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid $light-green;

  .footer-items {
    position: relative;
  }

  .chat-icon {
    position: absolute;
    right: 10px;
    top: 12px;
  }
}
