.message {
  margin-top: 8px;
  em {
    font-size: 11px;
  }
}

.my_message {
  text-align: right;
  .content {
    background-color: $dark-green;
    color: $sand;
    margin-left: auto;
    margin-right: 0;
  }
}

.collaborator_message {
  text-align: left;
  .content {
    background-color: $sand;
    color: $dark-green;
    margin-left: 0;
    margin-right: auto;
  }
}

.content {
  border-radius: 3px;
  padding: 2px 9px;
  width: 60%;
}
