.message {
  margin-top: 4px;
  border-radius: 10px;
  color: $dark-green;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  em {
    font-size: 11px;
  }
}

.content {
  border-radius: 3px;
  padding: 2px 8px;
  background-color: $sand;
}
