.notification-container {
  width: 422px;
  margin: 26px auto;
  h1 {
    text-align: center;
    color: $dark-green;
  }
}

.read {
  color: #374C41ff;
  a:link {
    color: #374C41ff;
  }
  a:visited {
    color: #374C41ff;
  }
  .notification-card{
    background-color: #77ba9780;
  }
}

.unread {
  color: $sand;
  a:link {
    color: $sand;
  }
  a:visited {
    color: $sand;
  }
  .notification-card{
    background-color: #374C41ff;
  }
}

.notif-cent {
  width: 422px;
  margin: 0 auto;
}

.notification-card {
  margin-top: 5px;
  margin-left: auto;
  height: 100px;
  border-radius: 6px;
  padding: 10px 5px;
  box-shadow: 0 0 5px #374C414D;
}

.info {
  margin-bottom: 1px !important;
}

.received {
  font-size: 12px;
  color: rgba(128, 128, 128, 1);
}

#notifications {
  padding: 2px 2px !important;
}

#read {
  padding: 2px 2px !important;
}
