
body {
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.logo {
  color: #359381;
  pointer-events: none;
  margin-right: 500px;
  padding: 10px 15px;
}
.home-nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.home-nav a {
  text-decoration: none;
  color: #359381;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 0 10px;
  font-weight: bolder;
}

.home-nav a:hover {
  background-color: #359381;
  color: #fff;
}

#div-text {
 display: flex;
 justify-content: center;
 align-items: center;
}
.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 106vw;
  left: 0;
}

#text {
  position: absolute;
  font-size: 7rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: $headers-font;
  letter-spacing: 1rem;

}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}


// #connect {
//   position: absolute;
//   background-color: #003329;
//   height: 70vh;
//   z-index: 1;
// }

.sec {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #003329;
  padding: 100px;
  z-index: 5;
}
