.show-card {
  margin: 15px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 25px 25px;
}

.show-card-img > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.show-card-img {
  width: 100%;
  // margin: 10px;
}

.show-card-description {
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

// .align-right {
//   display: flex;
//   justify-content: start;
//   width: 100%;
// }

.fix-width {
  // width: 200px;
  // align-items: end;
  display: flex;
  justify-content: space-between;
}

.fix-postion-bottom {
  position: relative;
}
