
* {
  list-style: none;
  text-decoration: none;
}



.sidebar{
  position: fixed;
  left: 0;
  padding: 20px 0;
  transition: transform 0.5s ease;
  z-index: 1055;

  h3 {
    font-size: 1rem;
    text-decoration: none;
  }
  h3:hover {
    color: rgb(140, 155, 147);
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }

  #link {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  #link:hover {
    color: rgb(140, 155, 147);
  }
}

.accordion-item {
  border: none;
}

#add-new {
  cursor: pointer;
}

#add-new:hover {
  color: rgb(140, 155, 147);
}
