.small-card {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
  height: 60px;

}

.small-card-img {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  object-fit: contain;
  max-height: 55px;
}

.small-card-text-title {
  font-size: 14px;
}

.small-card-row {
  width: 500px;
}
