.small-card {
  border-radius: 10px;
  padding: 10px;
  height: 88px;
}

.small-card-img {
  border-radius: 10px;
  object-fit: contain;
}

.small-card-text-title {
  font-size: 14px;
}

.small-card-row {
  width: 500px;
}
