.small-card {
  height: 120px;
  border-radius: 10px;
}

.small-card-img {
  border-radius: 10px;
  height: 120px;
}

.small-card-text-limit {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
}

.small-card-text-title {
  font-size: 14px;
}

.small-card-row {
  width: 500px
}
