.wish-card {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
  height: 60px;
}

.wish-card-img {
  // border-top-right-radius: 5px;
  // border-bottom-right-radius: 5px;
  border-radius: 5px;
  object-fit: cover;
  height: 58px;
  width: 100%;
  margin-bottom: 1px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.wish-card-text-title {
  font-size: 12px;
  font-family: $headers-font;
}

.wish-card-row {
  width: 500px;
}

.scrollable-box-y {
  width: 400px;
  height: 216px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.scrollable-box-x {
  width: 450px;
  height: 250px;
  overflow-x: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.position-fix {
  height: 100vh;
  position: sticky;
  top: 0;
}
