<div class="reviewcard">
  <div class="reviewcard-infos">
    <div>
      <h6><%= review.user.first_name %></h6>
      <p><%= review.created_at.strftime("%d/%m/%Y, %l:%M %p") %></p>
      <br>
      <p><%= review.content.truncate(380, separator: ' ') %></p>
    </div>
  </div>
</div>
