<div class="card">
  <div class="card-infos">
    <div>
      <h4><%= review.user.first_name %></h4>
      <p><%= review.created_at %></p>
      <p><%= review.content %></p>
    </div>
  </div>
</div>
