<div class= "container">
  <%= render "activities/showcard" %>

  <h2>Reviews </h2>
  <div class="">
    <% @reviews.each do |review| %>
      <%= render "activities/reviewcard", review: review%>
    <% end %>
  </div>

</div>
